body {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.left-side-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    background-color: #285ac5;
}

.left-side-menu-title-container {
    display: flex;
    margin: 30px 40px;
    align-items: center;
    color: white;
}

.right-side-container {
    display: flex;
    height: 100vh;
    flex-grow: 1;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #f9fafe;
    box-shadow: 0 3px 0 lightgray;
}

.nav-title {
    margin-left: 40px;
}

.nav-menu {
    margin-right: 40px;
}

.left-side-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 40px;
    color: #aabbed;
    font-size: 18px;
}

.left-side-menu-item:hover {
    color: #ffffff;
}

.left-side-menu-item-icon {
    margin-right: 20px;
}
